.party-card {
  background-color: $dark-grey-2;
  padding: 20px;
  border-radius: 4px;
  
  p {
    color: white;
    margin: 0;
  }

  &__host {
    display: flex;
    flex-direction: row;
    align-items: center;

    img {
      border-radius: 50%;
      max-height: 25px;
      margin-right: 10px;
    }
  }

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }

  &__title {
    h3 {
      color: white;
    }
  }

  &__time {
    display: flex;
    align-items: center;

    p {
      margin-right: 10px;
    }
  }
  
  &__subheader {
    opacity: 0.5;
  }
}