.track-list {
  ul {
    list-style: none;
    padding: 0;
    margin-top: 10px;
  }

  &__subheader {
    color: white;;
  }

  li {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255,255,255,0.06);
    padding: 20px;

    & > div:nth-child(1) {
      flex: 1;
      padding-right: 30px;
    }

    &.up-next, &.now-playing {
      border-radius: 4px;
      margin-bottom: 20px;
    }

    &.up-next {
      background: rgba(255,255,255,0.8);

      h3, p, i, span {
        color: $dark-grey-1;
      }
    }

    &.now-playing {
      background-color: $orange;
    }

    @media (max-width: 767.98px) {
      padding: 12px;
    }
  }

  p {
    opacity: 0.6;
    margin: 0;
  }

  i {
    vertical-align: middle;
    margin-left: 25px;
    font-size: 28px;
    opacity: 0.6;
    transition: 0.2s;
    
    &:last-child {
      color: $clearchill;
    }

    &:hover {
      opacity: 1;
      cursor: pointer;
    }
  }

  span {
    font-size: 11px;
    opacity: 0.6;
    margin-left: -20px;

    @media (max-width: 767.98px) {
      margin-left: -10px;
    }
  }
}