html, body {
  font-family: 'Open Sans', sans-serif;
  background-color: $dark-grey-1;
  min-height: 100%;
}

ul {
  list-style: none;
  padding: 0;
}

p {
  margin: 0;
  font-size: 14px;
}

.container-fluid {
  padding: 0;
}

.App {
  min-height: 100vh;
}