.btn {
  border-radius: 40px;
  transition: 0.2s;
  text-transform: uppercase;
  font-size: 11px;
  padding: 10px 20px;

  @media (max-width: 767.98px) {
    width: 100%;
  }
}

.btn-primary, .btn-primary:disabled {
  background: $brightgreek-light;
  padding: 12px 35px;
  border: none;
}

.btn-link {
  color: $brightgreek-light;
}

.btn-primary:focus:enabled,
.btn-primary:hover:enabled,
.btn-primary:active:enabled {
  background-color: $brightgreek;
}

.btn-link:focus:enabled,
.btn-link:hover:enabled,
.btn-link:active:enabled {
  color: $brightgreek;
}

