
$dark-grey-1: #222224;
$dark-grey-2: #313131;

$light-grey-1: #e5e5e5;
$light-grey-2: #ced6e0;

$sand: #eccc68;
$orange: #ff6348;
$watermelon-light: #ff6b81;
$watermelon: #ff4757;

$brightgreek: #3742fa;
$brightgreek-light: #5B63F7;

$clearchill: #1e90ff;
$green: #2ed573;