h2 {
  font-family: 'Poppins', sans-serif;
  color: white;
  font-weight: 300;
}

h3 {
  font-size: 24px;
  font-weight: 300;
  color: white;
}

p {
  font-size: 14px;
  color: white;
}

label {
  color: white;
  font-size: 14px;
}